.login-form,
.register-form {
  form {
    margin: 1rem auto;
    max-width: 40rem;
    border-radius: 2rem;
    border: $border;
    padding: 2rem;
    text-align: center;
    h3 {
      font-size: 2.2rem;
      text-transform: uppercase;
      color: $black;
      margin-bottom: 0.7rem;
    }
    .inputbox {
      margin: 1rem 0;
      display: flex;
      border-radius: 0.5rem;
      background: $light-bg;
      padding: 0.5rem 1rem;
      align-items: center;
      gap: 1rem;
      span {
        color: $light-color;
        margin-left: 1rem;
        font-size: 2rem;
      }
      input {
        width: 100%;
        padding: 1rem;
        background: none;
        font-size: 1.5rem;
        color: $light-color;
        text-transform: none;
      }
    }
    .flex {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 1rem 0;
      margin-top: 1rem;
      label {
        font-size: 1.5rem;
        cursor: pointer;
        color: $light-color;
        padding-top: 5px;
        &:hover {
          font-weight: 900;
        }
      }
      a {
        font-size: 1.5rem;
        color: $light-color;
        margin-left: auto;
        &:hover {
          font-weight: 900;
        }
      }
      .large-checkbox {
        transform: scale(1.5);
        &:hover {
          background: $black;
        }
      }
    }
    input[type="submit"] {
      background: $black;
      color: $white;
      &:hover {
        background: $white;
        color: $black;
      }
    }
    .btn {
      width: 100%;
    }
  }
}
